<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/common/navbar.css}">
</head>
<body>
<div th:fragment="navbar">


    <header>
        <div id="hideContent" class=""></div>
        <section class="navbar-left-box">
            <div id="navbar-active" class="navbar-left">
                <th:block sec:authorize="!isAuthenticated()">
                    <div class="visual">
                        <a id="btn-login" type="button" th:href="@{/login}">
                            <div class="avatar-box">
                                <div class="avatar-icon"><span><i class="fas fa-user-circle"></i></span></div>
                                <div class="avatar-content">
                                    <div>Login</div>
                                    <div class="avatar-content-adver">To use more function</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                    <div class="visual">
                        <a id="btn-login" type="button" th:href="@{/user/profile}">
                            <div class="avatar-box">
                                <div class="avatar-user"><img th:src="${session.user.userDetail.thumbnail}" alt=""></div>
                                <div class="d-flex align-items-center text-white">
                                    <div>[[${session.user.userDetail.firstName}]] [[${session.user.userDetail.lastName}]]</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
                <div class="navbar-left-content">
                    <div class="navbar-left-item">

                        <a th:href="@{/home}" class="active-nav"><span><i class="fas fa-home nav-left-icon"></i></span>Home</a>
                    </div>
                    <div class="navbar-left-item">

                        <a th:href="@{/posts}"><span><i class="far fa-newspaper nav-left-icon"></i></span>Posts</a>
                    </div>
                    <div>
                        <div class="navbar-left-item">

                            <a type="button" class=""  id="btnDropdownMenuProduct">
                                <span style="margin-right: 1.3rem"><i class="fas fa-list nav-left-icon"></i></span>
                                <span style="font-size: 1rem; margin: 0">Category</span>
                                <span class="btn-dropdown"><i class="fas fa-angle-down"></i></span>
                            </a>
                        </div>
                        <div id="dropdownMenuProduct" class="dropdown-menu-product">
                            <a th:each="topic:${topics}" th:href="@{'/posts/topic/'+${topic.id}}">[[${topic.name}]]</a>
                        </div>
                    </div>

                    <th:block sec:authorize="isAuthenticated()">
                        <div class="navbar-left-item">
                            <a th:href="@{/user/posts/newPost}"><span><i class="fas fa-pencil-alt nav-left-icon"></i></span>Create Post</a>
                        </div>
                        <div class="navbar-left-item">
                            <a th:href="@{/user/profile}"><span><i class="fas fa-id-card nav-left-icon"></i></span>Profile</a>
                        </div>
                        <div class="navbar-left-item">
                            <a th:href="@{/user/posts/public}"><span><i class="fas fa-file-alt nav-left-icon"></i></span>My Content</a>
                        </div>
                            <hr>
                        <div class="navbar-left-item">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" style="background: none; outline: none; border: none; color: rgb(90, 90, 90)"><span><i class="fas fa-sign-out-alt nav-left-icon"></i></span>Logout</button>
                            </form>
                        </div>
                    </th:block>


                </div>
            </div>
        </section>
        <div class="header-wellcome">

            <div class="text-header">
                <p>Welcome to Daily Blog !</p>
            </div>

        </div>
        <div class="" id="navbarFixed">
            <nav class="navbar navbar-expand-lg navbar-light container">
                <button id="btn-active-nav" class="navbar-toggler" type="button" data-toggle="collapse" data-target=""
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" th:href="@{/home}"><img style="width: 70px;" th:src="@{/img/logo.jpg}"
                                                               alt=""></a>
                <div class="header-nav-card">
                    <button class="btn-search" id="btnSearchNav" type="button" style="outline: none"><span><i
                            class="fa fa-search" aria-hidden="true"></i></span></button>


                </div>
                <div class="nav-search-box" id="navSearchBox">
                    <div class="nav-icon-search"><span><i class="fa fa-search" aria-hidden="true"></i></span></div>
                    <form th:action="@{/search}" method="get">
                        <input type="text" name="title" class="w-100 form-control" placeholder="Search">
                    </form>
                </div>
                <div class="collapse navbar-collapse main-menu" id="navbarNav">
                    <div class="navbar-nav navbar-menu">
                        <div class="nav-item"><a th:href="@{/home}">Home</a></div>
                        <div class="nav-item"><a th:href="@{/posts}">Posts</a></div>
                        <div class="nav-item dropdown ">
                            <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Category
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a th:each="topic:${topics}" class="dropdown-item"
                                   th:href="@{'/posts/topic/'+${topic.id}}">[[${topic.name}]]</a>

                            </div>
                        </div>


                        <div class="nav-item">
                            <form th:action="@{/search}" method="get">
                                <input type="text" name="title" class="form-control search-input" placeholder="Search">
                            </form>
                        </div>
                    </div>
                    <ul class="navbar-nav navbar-icon m-auto">
                        <th:block sec:authorize="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/user/posts/newPost}" style="cursor: pointer"><span><i class="fas fa-pencil-alt" style="font-size: 1.3rem"></i></span></a>
                            </li>

                            <li class="nav-item user-infor-box">
                                <div class="dropdown">
                                    <a class="user"  role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">
                                        <img th:src="${session.user.userDetail.thumbnail}" alt="">
                                    </a>
                                    <div class="dropdown-menu user-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item nav-link-user" th:href="@{/user/profile}"><span class="icon-nav-left"><i class="fas fa-id-card"></i></span>Profile</a>
                                        <a class="dropdown-item nav-link-user" th:href="@{/user/posts/public}"><span class="icon-nav-left"><i class="fas fa-file-alt"></i></span>My Content</a>
                                        <div class="line-user-nav"></div>
                                        <form th:action="@{/logout}" method="post">
                                            <button class="dropdown-item btn-logout" style="outline: none" type="submit"><span class="icon-nav-left"><i class="fas fa-sign-out-alt"></i></span>Logout</button>
                                        </form>

                                    </div>
                                </div>
                            </li>

                        </th:block>
                        <th:block sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" type="button" th:href="@{/login}"><span><i class="fas fa-sign-in-alt"></i> Sign In/Sign
                                   up</span></a>
                            </li>
                        </th:block>


                    </ul>
                </div>
            </nav>
        </div>
        <section>
            <div class="loading" id="processing">
                <div class="lds-hourglass"></div>
            </div>
        </section>

        <section>
            <div class="message">
                <div id="success" class="message-success"></div>
                <div id="fail" class="message-fail"></div>
            </div>
        </section>
    </header>

</div>



<script th:src="@{/js/jquery.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/common/navbar.js}"></script>

</body>
</html>