<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>[[${article.title}]]</title>
    <div th:replace="common/link-css :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/web/originalCard.css}">
    <link rel="stylesheet" th:href="@{/css/web/originalCate.css}">
    <link rel="stylesheet" th:href="@{/css/web/detailArticle.css}">
</head>
<body>
<div th:replace="common/navbar :: header"/>

<section id="ModelReport">
    <!-- Modal Report -->
    <div class="modal fade" id="modalReport" tabindex="-1" aria-labelledby="modalReport" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="mb-4">Report</h5>
                    <div>
                        <p class="mb-2">Reason for reporting this content</p>
                        <form id="formReport">
                            <div class="radio-box mb-2">
                                <input type="hidden" name="articleId" th:value="${article.id}">
                                <div th:each="report : ${reports}">
                                    <input type="radio" class="type-report" name="typeReportId" th:value="${report.id}"
                                           aria-label="Radio button for following text input">
                                    [[${report.name}]]
                                </div>
                                <div><span class="error-message" id="errorMessReport"></span></div>

                            </div>
                            <textarea name="comment" id="commentReport" class="form-control mb-4" rows="3"
                                      placeholder="Comment"></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn btn-danger">Report</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section sec:authorize="hasAuthority('ADMIN')">
    <div class="modal fade" id="modalArticleStatus" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <h6 class="mb-4" style="font-weight: bold; color: #000000" id="title"></h6>
                    <form id="formPublished">
                        <input type="hidden" name="id" id="id">
                        <div class="row align-items-center mb-3">
                            <div class="col-2">Status:</div>
                            <div class="col-10">
                                <select name="published" id="published" class="form-control">
                                    <option value="1">Published</option>
                                    <option value="2">Unlisted</option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4" id="prioritizeBox">
                            <div class="col-2">Prioritize:</div>
                            <div class="col-10">
                                <select name="prioritize" id="prioritize" class="form-control">
                                    <option value="0">Not set</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>

<main class="main-content">
    <div class="container">
        <section>
            <div class="row">

                <div class=" col-lg-9 col-md-12 col-sm-12">
                    <div class="d-flex">
                        <div sec:authorize="isAuthenticated()"
                             th:if="${article.status.value == 1 && article.published.value == 1}" class="btn-group-box">
                            <div class="btn-group-left">
                                <th:block th:if="${favStatus == null}">
                                    <button data-toggle="tooltip" data-placement="right" title="Add to favorite"
                                            class="btn-favorite" style="outline: none; color: grey" id="0"><i
                                            class="fas fa-heart"></i></button>
                                </th:block>
                                <th:block th:if="${favStatus != null}">
                                    <button data-toggle="tooltip" data-placement="right" title="Add to favorite"
                                            class="btn-favorite" th:id="${favStatus.id}"
                                            style="color: #ffffff; background: deeppink; outline: none"><i
                                            class="fas fa-heart"></i></button>
                                </th:block>
                                <th:block th:if="${bookMark == null}">
                                    <button class="book-mark" data-toggle="tooltip" data-placement="right"
                                            title="Bookmark this post"
                                            style="outline: none; background: none; color: grey" id="0">
                                        <i class="fas fa-bookmark"></i>

                                    </button>
                                </th:block>
                                <th:block th:if="${bookMark != null}">
                                    <button data-toggle="tooltip" data-placement="right" title="Bookmark this post"
                                            class="book-mark"
                                            style="outline: none;background: #5488c7; color: #ffffff"
                                            th:id="${bookMark.id}">
                                        <i class="fas fa-bookmark"></i>
                                    </button>
                                </th:block>
                                <div th:if="${article.status.value == 1 && article.published.value == 1}">
                                    <div class="fb-share-button" th:data-href="${#httpServletRequest.getRequestURL()}"
                                         data-layout="button_count">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100">
                            <div class="article-infor">

                                <div class="article-author">
                                    <a th:href="@{'/author/'+${article.userAccount.id}}" class="article-img-author">
                                        <img th:src="${article.userAccount.userDetailEntity.getImagePath()}" alt="">
                                    </a>
                                    <div class="article-name-author">
                                        <a th:href="@{'/author/'+${article.userAccount.id}}">[[${article.userAccount.userDetailEntity.firstName}]]
                                            [[${article.userAccount.userDetailEntity.lastName}]]</a>
                                        <p class="article-published">
                                            [[${#temporals.format(article.publishedDate,'yyyy-MM-dd
                                            HH:mm')}]]</p>
                                    </div>
                                </div>
                                <div class="article-infor-icon">
                                    <span><i class="fas fa-eye"></i>[[${article.countView}]]</span>
                                    <!--                            <span><i class="far fa-comment-dots"></i>32</span>-->

                                    <span id="favCount"><i
                                            class="fas fa-heart"></i>[[${article.favoriteArticle.size()}]]</span>
                                    <span id="bookMarkCount" style="color: grey"><i class="fas fa-bookmark"></i>[[${article.readLaterArticle.size()}]]</span>

                                    <div id="fb-root"></div>


                                    <th:block sec:authorize="isAuthenticated()">
                                        <div class="dropdown dropleft">
                                            <a class="btn-drop" href="#" role="button" id="dropdownMenuLink"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v"></i>
                                            </a>

                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <th:block
                                                        th:if="${article.status.value == 1 && article.published.value == 1}">
                                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                                       data-target="#modalReport"
                                                       type="button">Report</a>
                                                </th:block>
                                                <a th:if="${article.userAccount.id == session.user.id}"
                                                   class="dropdown-item"
                                                   th:href="@{'/user/posts/edit/'+ ${article.id}}">Edit</a>
                                                <a th:if="${article.userAccount.id == session.user.id}"
                                                   id="deleteArticle"
                                                   class="dropdown-item" href="#"
                                                   type="button">Delete</a>
                                            </div>
                                        </div>
                                    </th:block>

                                </div>
                            </div>
                            <div class="content-article">
                                <th:block th:if="${article.image != null && !article.image.equals('')}">
                                    <div class="text-center mb-4">
                                        <img th:src="${article.imagePath}" alt=""/>
                                    </div>
                                </th:block>
                                <h6 style="color: red;">[[${article.topic.name}]]</h6>
                                <h1 class="title-article">[[${article.title}]]</h1>
                                <th:block th:if="${article.videoPath != null}">
                                    <div class="text-center mb-4">
                                        <video th:src="${article.videoPath}" controls width="100%"></video>
                                    </div>
                                </th:block>
                                <div>[[${article.shortDescription}]]</div>
                                <div class="article-main-content" id="content">
                                    [[${article.content}]]
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr>
                    <h5 class="mb-4">Comment</h5>
                    <th:block sec:authorize="isAuthenticated()">
                        <div class="article-comment">
                            <a href="" class="article-img-author">
                                <img id="avatarUser" th:src="${session.user.userDetail.thumbnail}" alt="">
                            </a>
                            <form action="" class="w-100" id="formComment">
                                <input type="hidden" name="articleId" id="arId" th:value="${article.id}">
                                <textarea name="content" id="contentComment" class="form-control mb-3"
                                          rows="3"></textarea>
                                <div class="message-error" id="messageError"></div>
                                <div class="text-right">
                                    <button class="btn btn-primary" type="submit">Post Comment</button>
                                </div>
                            </form>
                        </div>
                    </th:block>
                    <th:block sec:authorize="!isAuthenticated()">
                        <p class="text-center">Login to comment this article</p>
                    </th:block>
                    <hr>
                    <div id="commentBox">
                        <div class="comment" id="" th:each="comment:${comments}">

                            <div class='comment-reader'>
                                <div class='infor-reader'>
                                    <a th:href="@{'/author/'+${comment.account.id}}" class="article-img-author">
                                        <img th:src='${comment.account.userDetail.thumbnail}' alt=''>
                                    </a>
                                    <div class='detail-reader'>
                                        <a th:href="@{'/author/'+${comment.account.id}}">[[${comment.account.userDetail.firstName}]]
                                            [[${comment.account.userDetail.lastName}]]</a>
                                        <span style="font-size: .8rem">[[${#temporals.format(comment.createdDate,'yyyy-MM-dd HH:mm')}]]</span>
                                    </div>
                                </div>
                                <div style="padding-left: 3.5rem" class="content-comment-box">
                                    <p class='mb-1 content-comment'>[[${comment.content}]]</p>
                                    <button sec:authorize="isAuthenticated()" class='btn btn-reply'
                                            th:id="${'btnRepLy_'+comment.id}"
                                            style="font-size: .8rem; outline: none">Reply
                                    </button>

                                    <div sec:authorize="isAuthenticated()" class="btn-group"
                                         style="display: inline-block" th:if="${session.user.id == comment.account.id}">
                                        <button type="button" class="btn-drop-comment" style="outline: none"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-h"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item btn-edit-comment" type="button"
                                               th:id="${'btnEdit_'+comment.id}">Edit</a>
                                            <a class="dropdown-item btn-delete-comment"
                                               th:id="${'btnDelete_'+comment.id}" type="button">Delete</a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="editComment"></div>
                            <div style="padding-left: 3.5rem" class="reply-comment"
                                 th:each="reply:${comment.replyComment}">
                                <div class="main-content-reply-comment" style="margin-bottom: 1rem">
                                    <div class='infor-reader'>
                                        <a th:href="@{'/author/'+${reply.account.id}}" class="article-img-author">
                                            <img th:src='${reply.account.userDetail.thumbnail}' alt=''>
                                        </a>
                                        <div class='detail-reader'>
                                            <a th:href="@{'/author/'+${reply.account.id}}">[[${reply.account.userDetail.firstName}]]
                                                [[${reply.account.userDetail.lastName}]]</a>
                                            <span style="font-size: .8rem">[[${#temporals.format(reply.createdDate,'yyyy-MM-dd HH:mm')}]]</span>
                                        </div>
                                    </div>
                                    <div style="padding-left: 3.5rem">
                                        <p class='mb-1 reply-content' th:if="${reply.replyAccount != null}"><a
                                                th:href="@{'/author/'+${reply.replyAccount.id}}">[[${reply.replyAccount.firstName}]]
                                            [[${reply.replyAccount.lastName}]]</a> [[${reply.content}]]</p>
                                        <p class='mb-1 reply-content' th:if="${reply.replyAccount == null}">
                                            [[${reply.content}]]</p>
                                        <div class="btn-group">
                                            <button sec:authorize="isAuthenticated()" class='p-0 btn btn-reply-to-reply'
                                                    th:id="${'btnRepLy_'+comment.id+'_'+reply.account.id}"
                                                    style="font-size: .8rem; outline: none">Reply
                                            </button>
                                            <div sec:authorize="isAuthenticated()"
                                                 th:if="${session.user.id == reply.account.id}">
                                                <button type="button" class="btn-drop-comment" style="outline: none"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="fas fa-ellipsis-h"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item btn-edit-reply" type="button"
                                                       th:id="${'btnEditReply_'+ reply.id}">Edit</a>
                                                    <a class="dropdown-item btn-delete-reply"
                                                       th:id="${'btnDeleteReply_'+ reply.id}" type="button">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="edit-reply-comment"></div>

                            </div>
                            <div class="subcomment" style="padding-left: 3.5rem"></div>

                        </div>
                    </div>

                    <div th:if="${articlesRelease != null && articlesRelease.size() > 0}" class="Release">
                        <div class="title-box mb-4">
                            <h1>RELEASE</h1>
                        </div>
                        <div>
                            <div th:each="article:${articlesRelease}" class="card card-content">
                                <div class="row no-gutters">
                                    <div class="col-md-5">
                                        <a th:href="@{'/posts/'+${article.id}}"><img th:src="${article.imagePath}"
                                                                                     alt="..."></a>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body card-original">
                                            <p class="card-original-cate"><a
                                                    th:href="@{'/posts/topic/'+${article.topic.id}}">[[${article.topic.name}]]</a>
                                            </p>
                                            <h5 class="card-title card-original-title"><a
                                                    th:href="@{'/posts/'+${article.id}}">[[${article.title}]]</a></h5>
                                            <div class="card-original-author">
                                                <span><i class="fas fa-calendar-day"></i> [[${#temporals.format(article.publishedDate,'yyyy-MM-dd HH:mm')}]]</span>
                                                <a th:href="@{'/author/'+${article.userAccount.id}}"><span class=""><i
                                                        class="fas fa-user"></i></span>
                                                    [[${article.userAccount.userDetailEntity.firstName}]]
                                                    [[${article.userAccount.userDetailEntity.lastName}]]
                                                </a>

                                            </div>
                                            <p class="card-original-short">
                                                [[${article.shortDescription}]]
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 position-relative">
                    <div class="" id="cateBox">
                        <div class="title-box mb-4" style="">
                            <h3 style="">CATEGORY</h3>
                        </div>
                        <div class="blog-category-filter">
                            <ul class="list-category">
                                <li th:each="topic:${topics}"><a th:href="@{'/posts/topic/'+${topic.id}}"><span><i
                                        class="fas fa-angle-right"></i></span> [[${topic.name}]]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<input type="hidden" id="articleOfArticle" th:value="${article.id}">
<div th:replace="common/footer :: footer"/>
<script th:src="@{/js/web/cate.js}"></script>
<script th:src="@{/js/web/detailArticle.js}"></script>
<script th:src="@{/js/web/user/comment.js}"></script>
<script>
    $("#content").html($("#content").text());
    let x = [[${article.id}]]
    console.log(x);


</script>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0"
        nonce="vdT9lKLu"></script>
</body>
</html>