<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <div th:replace="adminPage/link-css :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/admin/detailComment.css}">
</head>
<body>
<div id="wrapper" class="">
    <div th:replace="adminPage/navbar :: navbarAdmin"/>

    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->

                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter" id="counterNew"></span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown" >
                            <div class="notification-header-box">
                                <h6 class="" id="titleNotification">
                                    Notification Center
                                </h6>
                                <button type="button" id="btnMarkAll">Mark all as read</button>
                            </div>
                            <div id="notificationCenter"></div>

                            <a class="dropdown-item text-center small text-gray-500" href="/admin/notification">Show All Alerts</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">[[${session.user.userDetail.firstName}]] [[${session.user.userDetail.lastName}]]</span>
                            <img class="img-profile rounded-circle"
                                 th:src="${session.user.userDetail.thumbnail}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" th:href="@{/user/profile}">
                                <i class="fas fa-id-card fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" th:href="@{/user/posts/public?page=1}">
                                <i class="fas fa-file-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                My Content
                            </a>
                            <a class="dropdown-item" th:href="@{/home}">
                                <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                                Home Page
                            </a>
                            <div class="dropdown-divider"></div>
                            <form th:action="@{/logout}">
                                <button class="dropdown-item" type="submit">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </button>
                            </form>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 mb-3">
                        <h6 class="m-0 font-weight-bold text-primary">[[${title}]]</h6>
                    </div>
                    <div class="card-body">
                        <div id="commentBox">
                            <div class="comment" id="" th:each="comment:${comments}">
                                <div class="wrap-comment">
                                    <div class='comment-reader'>
                                        <div class='infor-reader'>
                                            <a th:href="@{'/author/'+${comment.account.id}}" class="article-img-author">
                                                <img th:src='${comment.account.userDetail.thumbnail}' alt=''>
                                            </a>
                                            <div class='detail-reader'>
                                                <a th:href="@{'/author/'+${comment.account.id}}">[[${comment.account.userDetail.firstName}]]
                                                    [[${comment.account.userDetail.lastName}]]</a>
                                                <span style="font-size: .8rem">[[${#temporals.format(comment.createdDate,'yyyy-MM-dd HH:mm')}]]</span>
                                            </div>
                                        </div>
                                        <div style="padding-left: 3.5rem" class="content-comment-box">
                                            <p class='mb-1 content-comment'>[[${comment.content}]]</p>

                                        </div>
                                    </div>
                                    <div class="btn-box">
                                        <button class="btn btn-outline-danger btn-delete-comment" th:id="${'delete_'+comment.id}"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </div>
                                <div style="padding-left: 3.5rem" class="reply-comment wrap-comment"
                                     th:each="reply:${comment.replyComment}">
                                    <div class="main-content-reply-comment">
                                        <div class='infor-reader'>
                                            <a th:href="@{'/author/'+${reply.account.id}}" class="article-img-author">
                                                <img th:src='${reply.account.userDetail.thumbnail}' alt=''>
                                            </a>
                                            <div class='detail-reader'>
                                                <a th:href="@{'/author/'+${reply.account.id}}">[[${reply.account.userDetail.firstName}]]
                                                    [[${reply.account.userDetail.lastName}]]</a>
                                                <span style="font-size: .8rem">[[${#temporals.format(reply.createdDate,'yyyy-MM-dd HH:mm')}]]</span>
                                            </div>
                                        </div>
                                        <div style="padding-left: 3.5rem; margin-bottom: 1rem">
                                            <p th:if="${reply.replyAccount != null}" class='mb-1 reply-content'><a th:href="@{'/author/'+${reply.replyAccount.id}}">[[${reply.replyAccount.firstName}]] [[${reply.replyAccount.lastName}]]</a> [[${reply.content}]]</p>
                                            <p th:if="${reply.replyAccount == null}" class='mb-1 reply-content'>[[${reply.content}]]</p>
                                        </div>
                                    </div>
                                    <div class="btn-box">
                                        <button class="btn btn-sm btn-outline-danger btn-delete-reply" th:id="${'delete_'+reply.id}"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Daily Blog 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
</div>
<div th:replace="adminPage/footer :: footerAdmin"/>
<script th:src="@{/js/admin/detailComment.js}"></script>
</body>
</html>