<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:fragment="header-css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
        <link rel="stylesheet" th:href="@{/css/admin/adminHome.css}">
        <link rel="stylesheet" th:href="@{/css/loading.css}">
        <link rel="stylesheet" th:href="@{/css/sweetAlert.css}">
        <link rel="shortcut icon" th:href="@{/img/logo.jpg}" type="image/x-icon">
    </th:block>
</head>
<body>

</body>
</html>