<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div th:replace="common/link-css :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/web/home.css}">
    <link rel="stylesheet" th:href="@{/css/web/originalCard.css}">
</head>
<body>
<div th:replace="common/navbar :: header"/>
<main class="container">
    <hr>
    <section>
        <div class="row">
            <div class="col-md-6">
                <div class="product-item">
                    <div class="card card-content" style="">
                        <a href=""><img src="/imgblog2.jpg" class="card-img-top" alt="..."></a>
                        <div class="card-body card-news">
                            <p class="card-large-category"><a href="" style="color: red;">Technology</a></p>
                            <h5 class="card-large-title"><a href="">The world’s first fitness influencer was a Victorian
                                strongman</a>
                            </h5>
                            <div class="infor-news">
                                <span><i class="fas fa-calendar-day"></i> 21/01/2021</span>
                                <a href=""><span class="span-user"><i class="fas fa-user"></i></span> Minh
                                    Nguyễn</a>
                                <p class="content-card ">Far far away, behind the word mountains, far from the
                                    countries Vokalia and Consonantia, there live the blind texts. Separated they
                                    live in Bookmarksgrove right at the coast of the Semantics, a large language
                                    ocean
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="card card-content">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <a href=""><img src="/imgblog2.jpg" alt="..."></a>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body card-sm-header">
                                <p class="card-sm-cate"><a href="">Technology</a></p>
                                <h5 class=" card-title card-sm-title"><a href="">The world’s first fitness influencer was a
                                    Victorian
                                    strongman</a></h5>
                                <div class="card-sm-author">
                                    <span><i class="fas fa-calendar-day"></i> 21/01/2021</span>
                                    <a href=""><span class="span-user"><i class="fas fa-user"></i></span>
                                        Minh
                                        Nguyễn</a>
                                </div>
                                <p class="card-sm-short">Lorem ipsum dolor sit amet consectetur
                                    adipisicing elit. Quam quod
                                    molestias
                                    voluptatem cupiditate magnam ipsam error? Labore blanditiis ex repellat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-content">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <a href=""><img src="/imgblog2.jpg" alt="..."></a>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body card-sm-header">
                                <p class="card-sm-cate"><a href="">Technology</a></p>
                                <h5 class="card-title card-sm-title"><a href="">The world’s first fitness influencer was a
                                    Victorian
                                    strongman</a></h5>
                                <div class="card-sm-author">
                                    <span><i class="fas fa-calendar-day"></i> 21/01/2021</span>
                                    <a href=""><span class="span-user"><i class="fas fa-user"></i></span> Minh
                                        Nguyễn</a>
                                </div>
                                <p class="card-sm-short">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Quam quod
                                    molestias
                                    voluptatem cupiditate magnam ipsam error? Labore blanditiis ex repellat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-content">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <a href=""><img src="/imgblog2.jpg" alt="..."></a>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body card-sm-header">
                                <p class="card-sm-cate"><a href="">Technology</a></p>
                                <h5 class="card-title card-sm-title"><a href="">The world’s first fitness influencer was a
                                    Victorian
                                    strongman</a></h5>
                                <div class="card-sm-author">
                                    <span><i class="fas fa-calendar-day"></i> 21/01/2021</span>
                                    <a href=""><span class="span-user"><i class="fas fa-user"></i></span> Minh
                                        Nguyễn</a>
                                </div>
                                <p class="card-sm-short">Lorem ipsum dolor sit amet consectetur adipisicing
                                    elit. Quam quod
                                    molestias
                                    voluptatem cupiditate magnam ipsam error? Labore blanditiis ex repellat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="line"></div>

    <section>
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="news">
                    <div class="title-box mb-4">
                        <h1>NEWSEST</h1>
                    </div>
                    <div>
                        <div class="card card-content">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <a href=""><img src="/imgblog2.jpg" alt="..."></a>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body card-original">
                                        <p class="card-original-cate"><a href="">Technology</a></p>
                                        <h5 class="card-title card-original-title"><a href="">The world’s first fitness
                                            influencer
                                            was a
                                            Victorian
                                            strongman</a></h5>
                                        <div class="card-original-author">
                                            <span><i class="fas fa-calendar-day"></i> 21/01/2021</span>
                                            <a href=""><span class=""><i class="fas fa-user"></i></span>
                                                Minh
                                                Nguyễn</a>
                                        </div>
                                        <p class="card-original-short">Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Quam quod
                                            molestias
                                            voluptatem cupiditate magnam ipsam error? Labore blanditiis ex repellat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="popular">
                    <div class="title-box mb-4">
                        <h1>POPULAR</h1>
                    </div>
                    <div>
                        <div class="card card-content">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <a href=""><img src="/imgblog2.jpg" alt="..."></a>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body card-original">
                                        <p class="card-original-cate"><a href="">Technology</a></p>
                                        <h5 class="card-title card-original-title"><a href="">The world’s first fitness
                                            influencer
                                            was a
                                            Victorian
                                            strongman</a></h5>
                                        <div class="card-original-author">
                                            <span><i class="fas fa-calendar-day"></i> 21/01/2021</span>
                                            <a href=""><span class=""><i class="fas fa-user"></i></span>
                                                Minh
                                                Nguyễn</a>
                                        </div>
                                        <p class="card-original-short">Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Quam quod
                                            molestias
                                            voluptatem cupiditate magnam ipsam error? Labore blanditiis ex repellat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3 col-sm-12">
                <div class="title-box mb-4" style="">
                    <h1 style="">CATEGORY</h1>
                </div>
                <div class="blog-category-filter">
                    <ul class="list-category">
                        <li><a href=""><span><i class="fas fa-angle-right"></i></span> Mùa đông</a></li>
                        <li><a href=""><span><i class="fas fa-angle-right"></i></span> Phong cách mới</a></li>
                        <li><a href=""><span><i class="fas fa-angle-right"></i></span> Dã Ngoại</a></li>
                        <li><a href=""><span><i class="fas fa-angle-right"></i></span> Tết</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</main>


<div th:replace="common/footer :: footer"/>
</body>
</html>