<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div th:replace="common/link-css :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/web/home.css}">
    <link rel="stylesheet" th:href="@{/css/web/originalCard.css}">

</head>
<body>
<div th:replace="common/navbar :: header"/>

<main class="container">
    <hr>
    <section th:if="${articlePrioritize.size() == 4}">
        <div class="row">
            <div class="col-md-6">
                <div class="product-item">
                    <div class="card card-content" style="">
                        <a th:href="@{'/posts/'+${articlePrioritize.get(0).id}}"><img
                                th:src="${articlePrioritize.get(0).imagePath}" class="card-img-top" alt="..."></a>
                        <div class="card-body card-news">
                            <p class="card-large-category"><a
                                    th:href="@{'/posts/topic/'+${articlePrioritize.get(0).topic.id} +'?page=1'}"
                                    style="color: red;">[[${articlePrioritize.get(0).topic.name}]]</a></p>
                            <h5 class="card-large-title"><a th:href="@{'/posts/'+${articlePrioritize.get(0).id}}">[[${articlePrioritize.get(0).title}]]</a>
                            </h5>
                            <div class="infor-news">
                                <span><i class="fas fa-calendar-day"></i> [[${#temporals.format(articlePrioritize.get(0).publishedDate,'yyyy-MM-dd HH:mm')}]]</span>
                                <a th:href="@{'/author/'+${articlePrioritize.get(0).userAccount.id}+'?page=1'}"><span
                                        class="span-user"><i class="fas fa-user"></i></span>
                                    [[${articlePrioritize.get(0).userAccount.userDetailEntity.firstName}]]
                                    [[${articlePrioritize.get(0).userAccount.userDetailEntity.lastName}]]
                                </a>
<!--                                button-->
                            </div>
                            <p class="content-card ">[[${articlePrioritize.get(0).shortDescription}]]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-content">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <a th:href="@{'/posts/'+${articlePrioritize.get(1).id}}"><img
                                    th:src="${articlePrioritize.get(1).imagePath}" alt="..."></a>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body card-sm-header">
                                <p class="card-sm-cate"><a
                                        th:href="@{'/posts/topic/'+${articlePrioritize.get(1).topic.id} +'?page=1'}">[[${articlePrioritize.get(1).topic.name}]]</a>
                                </p>
                                <h5 class=" card-title card-sm-title"><a
                                        th:href="@{'/posts/'+${articlePrioritize.get(1).id}}">[[${articlePrioritize.get(1).title}]]</a>
                                </h5>
                                <div class="card-sm-author">
                                    <span><i class="fas fa-calendar-day"></i> [[${#temporals.format(articlePrioritize.get(1).publishedDate,'yyyy-MM-dd HH:mm')}]]</span>
                                    <a th:href="@{'/author/'+${articlePrioritize.get(1).userAccount.id}+'?page=1'}"><span
                                            class="span-user"><i class="fas fa-user"></i></span>
                                        [[${articlePrioritize.get(1).userAccount.userDetailEntity.firstName}]]
                                        [[${articlePrioritize.get(1).userAccount.userDetailEntity.lastName}]]
                                    </a>

                                </div>
                                <p class="card-sm-short">
                                    [[${articlePrioritize.get(1).shortDescription}]]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-content">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <a th:href="@{'/posts/'+${articlePrioritize.get(2).id}}"><img
                                    th:src="${articlePrioritize.get(2).imagePath}" alt="..."></a>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body card-sm-header">
                                <p class="card-sm-cate"><a
                                        th:href="@{'/posts/topic/'+${articlePrioritize.get(2).topic.id} +'?page=1'}">[[${articlePrioritize.get(2).topic.name}]]</a>
                                </p>
                                <h5 class=" card-title card-sm-title"><a
                                        th:href="@{'/posts/'+${articlePrioritize.get(2).id}}">[[${articlePrioritize.get(2).title}]]</a>
                                </h5>
                                <div class="card-sm-author">
                                    <span><i class="fas fa-calendar-day"></i> [[${#temporals.format(articlePrioritize.get(2).publishedDate,'yyyy-MM-dd HH:mm')}]]</span>
                                    <a th:href="@{'/author/'+${articlePrioritize.get(2).userAccount.id} +'?page=1'}"><span
                                            class="span-user"><i class="fas fa-user"></i></span>
                                        [[${articlePrioritize.get(2).userAccount.userDetailEntity.firstName}]]
                                        [[${articlePrioritize.get(2).userAccount.userDetailEntity.lastName}]]
                                    </a>

                                </div>
                                <p class="card-sm-short">
                                    [[${articlePrioritize.get(2).shortDescription}]]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-content">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <a th:href="@{'/posts/'+${articlePrioritize.get(3).id}}"><img
                                    th:src="${articlePrioritize.get(3).imagePath}" alt="..."></a>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body card-sm-header">
                                <p class="card-sm-cate"><a
                                        th:href="@{'/posts/topic/'+${articlePrioritize.get(3).topic.id} +'?page=1'}">[[${articlePrioritize.get(3).topic.name}]]</a>
                                </p>
                                <h5 class=" card-title card-sm-title"><a
                                        th:href="@{'/posts/'+${articlePrioritize.get(3).id}}">[[${articlePrioritize.get(3).title}]]</a>
                                </h5>
                                <div class="card-sm-author">
                                    <span><i class="fas fa-calendar-day"></i> [[${#temporals.format(articlePrioritize.get(3).publishedDate,'yyyy-MM-dd HH:mm')}]]</span>
                                    <a th:href="@{'/author/'+${articlePrioritize.get(3).userAccount.id}+'?page=1'}"><span
                                            class="span-user"><i class="fas fa-user"></i></span>
                                        [[${articlePrioritize.get(3).userAccount.userDetailEntity.firstName}]]
                                        [[${articlePrioritize.get(3).userAccount.userDetailEntity.lastName}]]
                                    </a>

                                </div>
                                <p class="card-sm-short">
                                    [[${articlePrioritize.get(3).shortDescription}]]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
    </section>

    <section>
        <div class="row">
            <div class="col-lg-9 col-md-12 box-left col-sm-12">
                <div class="news">
                    <div class="title-box mb-4">
                        <h1>NEWSEST</h1>
                    </div>
                    <div>
                        <div th:if="${articleNews.size() > 0}" th:each="article:${articleNews}"
                             class="card card-content">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <a th:href="@{'/posts/'+${article.id}}"><img th:src="${article.imagePath}"
                                                                                 alt="..."></a>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body card-original">
                                        <p class="card-original-cate"><a
                                                th:href="@{'/posts/topic/'+${article.topic.id} +'?page=1'}">[[${article.topic.name}]]</a>
                                        </p>
                                        <h5 class="card-title card-original-title"><a
                                                th:href="@{'/posts/'+${article.id}}">[[${article.title}]]</a></h5>
                                        <div class="card-original-author">
                                            <span><i class="fas fa-calendar-day"></i> [[${#temporals.format(article.publishedDate,'yyyy-MM-dd HH:mm')}]]</span>
                                            <a th:href="@{'/author/'+${article.userAccount.id}+'?page=1'}"><span class=""><i
                                                    class="fas fa-user"></i></span>
                                                [[${article.userAccount.userDetailEntity.firstName}]]
                                                [[${article.userAccount.userDetailEntity.lastName}]]
                                            </a>

                                        </div>
                                        <p class="card-original-short">
                                            [[${article.shortDescription}]]
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p th:if="${articleNews.size() <= 0}" style='color: grey; font-weight: bold; text-align: center'>
                        There is nothing here!</p>
                </div>

                <div class="popular">
                    <div class="title-box mb-4">
                        <h1>POPULAR</h1>
                    </div>
                    <div>
                        <div th:if="${articlePopular.size() > 0}" th:each="article:${articlePopular}"
                             class="card card-content">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <a th:href="@{'/posts/'+${article.id}}"><img th:src="${article.imagePath}"
                                                                                 alt="..."></a>
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body card-original">
                                        <p class="card-original-cate"><a
                                                th:href="@{'/posts/topic/'+${article.topic.id} +'?page=1'}">[[${article.topic.name}]]</a>
                                        </p>
                                        <h5 class="card-title card-original-title"><a
                                                th:href="@{'/posts/'+${article.id}}">[[${article.title}]]</a></h5>
                                        <div class="card-original-author">
                                            <span><i class="fas fa-calendar-day"></i> [[${#temporals.format(article.publishedDate,'yyyy-MM-dd HH:mm')}]]</span>
                                            <a th:href="@{'/author/'+${article.userAccount.id}+'?page=1'}"><span class=""><i
                                                    class="fas fa-user"></i></span>
                                                [[${article.userAccount.userDetailEntity.firstName}]]
                                                [[${article.userAccount.userDetailEntity.lastName}]]
                                            </a>

                                        </div>
                                        <p class="card-original-short">
                                            [[${article.shortDescription}]]
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p th:if="${articlePopular.size() <= 0}" style='color: grey; font-weight: bold; text-align: center'>
                        There is nothing here!</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="title-box title-right mb-4">
                    <h1>HIGH RATE</h1>
                </div>
                <div th:each="article:${articleFav}" class=" row card-fav mb-4">
                    <div class="col-lg-12 col-md-5 col-sm-12 fav-img">
                        <a th:href="@{'/posts/'+${article.id}}"><img th:src="${article.imagePath}" class="card-img-top" alt="..."></a>
                    </div>
                    <div class="col-lg-12 col-md-7 col-sm-12 fav-body">
                        <div class="card-body card-fav-body">
                            <p class="card-fav-topic"><a th:href="@{'/posts/topic/'+${article.topic.id} +'?page=1'}">[[${article.topic.name}]]</a>
                            </p>
                            <h5 class="card-title card-fav-title"><a th:href="@{'/posts/'+${article.id}+'?page=1'}">[[${article.title}]]</a>
                            </h5>
                            <div class="card-original-author">
                                <span><i class="fas fa-calendar-day"></i> [[${#temporals.format(article.publishedDate,'yyyy-MM-dd HH:mm')}]]</span>
                                <a th:href="@{'/author/'+${article.userAccount.id}+'?page=1'}"><span class=""><i
                                        class="fas fa-user"></i></span>
                                    [[${article.userAccount.userDetailEntity.firstName}]]
                                    [[${article.userAccount.userDetailEntity.lastName}]]
                                </a>
<!--                                <div sec:authorize="isAuthenticated()" class='dropdow dropMenuBox'>-->
<!--                                    <button style='outline: none;' class='btn-drop-menu' type='button'-->
<!--                                            id='dropdownMenu' data-toggle='dropdown' aria-haspopup='true'-->
<!--                                            aria-expanded='false'>-->
<!--                                        <i class='fas fa-ellipsis-h'></i>-->
<!--                                    </button>-->
<!--                                    <div class='dropdown-menu drop-menu' style='padding: 0;'-->
<!--                                         aria-labelledby='dropdownMenu'>-->
<!--                                        <a class='dropdown-item btn-add-read-later'-->
<!--                                           style='font-size: .8rem;'-->
<!--                                           th:id="${'readLate_'+ article.id}"-->
<!--                                           type="button">Add to-->
<!--                                            Read later</a>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <p class="card-fav-shortDes">[[${article.shortDescription}]]</p>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="title-box mb-4 title-right" style="">
                    <h1 style="">CATEGORY</h1>
                </div>
                <div class="blog-category-filter">
                    <ul class="list-category">
                        <li th:each="topic:${topics}"><a th:href="@{'/posts/topic/'+${topic.id}+'?page=1'}"><span><i
                                class="fas fa-angle-right"></i></span> [[${topic.name}]]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</main>

<div th:replace="common/footer :: footer"/>
<script th:src="@{/js/web/readLaterAjax.js}"></script>
</body>
</html>