<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="common/link-css :: header-css"/>
    <link rel="stylesheet" th:href="@{/css/web/createpost.css}">

</head>
<body>
<div th:replace="common/navbar :: header"/>

<div class="container">
    <form id="formSubmit" enctype="multipart/form-data">
        <input type="hidden" id="id" name="id" th:value="${article.id}">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Title" name="title" id="title" th:value="${article.title}">
        </div>

        <div class="row form-group">
            <div class="col">
                <input type="file" id="file" class="input-image" placeholder="Chose Image">
            </div>
            <div class="col">
                <select name="topicId" id="topicId" class="custom-select">
                    <option id="defaultValueSelect">---Select topic---</option>
                    <th:block th:each="topic:${topics}">
                        <th:block th:if="${article.topic != null && article.topic.id == topic.id}">
                            <option th:value="${topic.id}"
                                    th:text="${topic.name}" selected/>
                        </th:block>
                        <th:block th:if="${article.topic == null || article.topic.id != topic.id}">
                            <option th:value="${topic.id}"
                                    th:text="${topic.name}"/>
                        </th:block>
                    </th:block>
                </select>
            </div>

        </div>
        <div class="form-group">
            <textarea name="shortDescription" id="shortDescription" cols="30" rows="4" class="form-control" placeholder="Short Description">[[${article.shortDescription}]]</textarea>
        </div>
        <div class="form-group">
            <textarea name="content" id="content" cols="30" rows="18" class="form-control" placeholder="Content"> [[${article.content}]]</textarea>
        </div>
        <button class="btn btn-primary" id="submit" type="submit">Submit</button>
    </form>
</div>




</div>
<div th:replace="common/footer :: footer"/>

<script th:src="@{/ckeditor/ckeditor.js}"></script>
<script th:src="@{/ckfinder/ckfinder.js}"></script>
<script>

        var editor = CKEDITOR
            .replace(
                'content',
                {
                    height:'28rem',
                    placeholder:'Write the content of your article here :))',
                    filebrowserBrowseUrl : '/ckfinder/ckfinder.html',
                    filebrowserImageBrowseUrl : '/ckfinder/ckfinder.html?type=Images',
                    filebrowserFlashBrowseUrl : '/ckfinder/ckfinder.html?type=Flash',
                    filebrowserUploadUrl : '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Files',
                    filebrowserImageUploadUrl : '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Images',
                    filebrowserFlashUploadUrl : '/ckfinder/core/connector/java/connector.java?command=QuickUpload&type=Flash'
                });


        /*Avatar start*/
        document.getElementById("submit").addEventListener('click',function (){
            console.log(editor.getData());

            // editor.setData(data)


        })


    // function BrowseServer(startupPath, functionData) {
    //     // You can use the "CKFinder" class to render CKFinder in a page:
    //     var finder = new CKFinder();
    //
    //     // The path for the installation of CKFinder (default = "/ckfinder/").
    //     finder.basePath = '../';
    //
    //     //Startup path in a form: "Type:/path/to/directory/"
    //     finder.startupPath = startupPath;
    //     console.log(startupPath);
    //
    //     // Name of a function which is called when a file is selected in CKFinder.
    //     finder.selectActionFunction = SetFileField;
    //
    //     // Additional data to be passed to the selectActionFunction in a second argument.
    //     // We'll use this feature to pass the Id of a field that will be updated.
    //     finder.selectActionData = functionData;
    //
    //     // Name of a function which is called when a thumbnail is selected in CKFinder. Preview img
    //     // finder.selectThumbnailActionFunction = ShowThumbnails;
    //
    //     // Launch CKFinder
    //     finder.popup();
    // }

    // This is a sample function which is called when a file is selected in CKFinder.
    // function SetFileField(fileUrl, data) {
    //     document.getElementById(data["selectActionData"]).innerHTML = this
    //         .getSelectedFile().name;
    //     document.getElementById("imgpreview").src = fileUrl;
    // }
    /*Avatar end*/
        // console.log($("#formSubmit"))


    $("#formSubmit").on('submit',function (e){
        e.preventDefault();
        let data={};
        let id = $("#id").val();
        console.log(id);

        let formData = $("#formSubmit").serializeArray();
        console.log(formData);
        $.each(formData, function (i, v) {
            data[""+v.name+""] = v.value;
        });
        let file = $("#file")[0].files[0];
        data["base64"] = "";
        data["file"]="";
        data["content"] = editor.getData();
        if(file !== undefined){
            let reader = new FileReader();
            reader.onload = function (e){
                data["base64"] = e.target.result;
                data["file"] = file.name;


                processData(data)
            };
            reader.readAsDataURL(file);
        }else{
            processData(data);
        }


    })
    function processData(data){
        if(data.id !== ""){
            updateArticle(data);
        }else{
            uploadArticle(data);
        }
    }
    function uploadArticle(data){
        console.log(data);
        $.ajax({
            url:"/api/article/add",
            type:"post",
            contentType:"application/json",
            data:JSON.stringify(data),
            dataType:'json'

        }).done(function (response){
            console.log(response);
            $("#title").val("");
            $("#file").val("");
            $("#shortDescription").val("");
            editor.setData("");
            $("#defaultValueSelect").attr("selected","selected");
        }).fail(function (e){
            console.log("fail");
        })
    }
    function updateArticle(data){
        $.ajax({
            url:"/api/article/update",
            type:"put",
            contentType:"application/json",
            data:JSON.stringify(data),
            dataType:'json'

        }).done(function (response){
            console.log(response);
        }).fail(function (e){
            console.log("fail");
        })

    }
</script>


</body>
</html>