<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1 th:text="${article.title}"></h1>
<!--    <img th:src="@{${article.imagePath}}" alt="">-->
<!--    <video width="320" height="240" controls>-->
<!--        <source th:src="@{${article.imagePath}}" type="video/mp4">-->
<!--&lt;!&ndash;        <source src="movie.ogg" type="video/ogg">&ndash;&gt;-->
<!--        Your browser does not support the video tag.-->
<!--    </video>-->
    <img th:src="${article.imagePath}" alt="">
    <div id="content">[[${article.content}]]</div>

    <script src="/js/jquery.js"></script>
    <script>
        $("#content").html($("#content").text());
    </script>
</div>
</body>
</html>