body{
    background-color: rgb(245, 245, 245);
}
.container-box{
    padding: 1rem;
}
.input-image{

}
.form-post{
    padding: 2rem 0;
}

@media screen and (max-width: 768px) {
    .button-group div{
        margin-bottom: 1rem;
    }
    .button-group div:last-child{
        margin-bottom: 0rem;
    }
}

@media screen and (min-width: 769px){
    .button-group div{
        margin-bottom: 0;
    }
}
